@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');
*{
     margin:0;
     padding:0;
     box-sizing:border-box;
     font-family:'Poppins',sans-serif;
     text-decoration:none;
}
:root{
     --black-color:#034730;
     --white-color:#fff;
     --sky-color:#e4f7e5;
     --light-black:#01221d;
     --lighter-green:#078159;
     --google-red:#d32c1d;
     --light-red:#ec4c3d;
     --sky-orange:#cf5707;
}

/* s-s-hero Section */
.hero{
     width:100%;
     height:100vh;
     background:var(--white-color);
     display:flex;
}
.hero .hero-img{
     width:50%;
     height:100%;
     display:flex;
     align-items:center;
     justify-content:center;
}
.hero .hero-img img{
     width:600px;
     height:600px;
}
.hero .hero-login{
     width:50%;
     height:100%;
     display:flex;
     align-items:center;
     justify-content:center;
}


.hero .hero-login .wrapper{
     background:rgb(255,255,255);
     width:450px;
     border-radius:16px;
}

.form{
     padding:25px 30px;
}

.form header{
     font-size:25px;
     font-weight:600;
     padding-bottom:10px;
     border-bottom:1px solid rgb(230,230,230);
     text-align:center;
     color:var(--black-color);
}
.form header span{
     font-weight:400;
}
.form form{
     margin:20px 0;
}
.form form .error-txt{
     color:rgb(114,28,36);
     background:rgb(248,215,218);
     padding:8px 10px;
     text-align:center;
     border-radius:5px;
     margin-bottom: 10px;
     border:1px solid rgb(245,198,203);
     display: none;
}
.form form .name-details{
     display:flex;
}
form .name-details .field:first-child{
     margin-right:10px;
}
form .name-details .field:last-child{
     margin-left:10px;
}
.form form .field{
     display:flex;
     flex-direction:column;
     margin-bottom:10px;
     position:relative;
}
.form form .field label{
     color:var(--black-color);
     margin-bottom:2px;
}
.form form .field input{
     outline:none;
}
.form form .field i{
     position:absolute;
     right:15px;
     top:70%;
     transform: translateY(-50%);
     cursor:pointer;
     color:rgb(204,204,204);
}
.form form .field i.active::before{
     color:var(--black-color);
     content:"\f070";
}
.form form .input input{
     height:40px;
     width:100%;
     font-size:16px;
     padding:0 10px;
     border:1px solid rgb(204,204,204);
     border-radius:5px;
}
.form form .button input{
     margin-top:10px;
     height:45px;
     border:none;
     font-family: "FontAwesome","Poppins",sans-serif;
     font-size:17px;
     font-weight:400;
     background:var(--black-color);
     color:rgb(255,255,255);
     border-radius:5px;
     cursor:pointer;
     transition: .7s;
}
.form form .button input:hover{
     background:var(--lighter-green);
}
.form form .forgot-pass{
     text-align:center;
}
.form form .forgot-pass a{
     color:var(--sky-orange);
}.form form .forgot-pass a:hover{
     text-decoration:underline;
}
.form form .google input{
     margin-top:10px;
     height:45px;
     border:none;
     font-family: "FontAwesome","Poppins",sans-serif;
     font-size:17px;
     font-weight:400;
     background:var(--google-red);
     color:rgb(255,255,255);
     border-radius:5px;
     cursor:pointer;
     transition: .7s;
}
.form form .google input:hover{
     background:var(--light-red);
}
.form .link{
     text-align:center;
     margin:10px 0;
     font-size:17px;
}
.form .link a{
     color:var(--black-color);
}
.form .link a:hover{
     text-decoration:underline;
}

@media only screen and (max-width: 768px){
     .hero .hero-img{
          display:none;
     }
     .hero .hero-login{
          width:100%;
     }
}